<h1>upload</h1>
<form enctype="multipart/form-data" method="POST" action="/filemanager">
    <input type="file" multiple required accept="image/*" name="imageupload">
    <button type="sumbit">Wyślij pliki</button>
</form>